.viperjs-input-container, .viperjs-output-tokenized-container, .viperjs-output-parsed-container {
    width: 100%;
    vertical-align:top;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .viperjs-input-container, .viperjs-output-tokenized-container, .viperjs-output-parsed-container {
        width: 33.3%;
        display: inline-block;
        padding: 1em;
    }
}
.viperjs-input-output .button {
    background-color: rgb(59, 91, 63);
    font-family: "proxima-nova", "Helvetica Neue", Helvetica,Arial, sans-serif;
    border: 0;
    color: rgb(47, 49, 41);
    display: inline-block;
    cursor: auto;
    font-size: 16px;
    height: 40px;
    font-weight: 700;
    padding: 12px 0px;
    box-sizing: border-box;
    transition: all 0.4s;
    outline: none;
}
.viperjs-input-output .button:hover {
    box-shadow: 0 0 0 2px #ffffff inset;
    background-color: transparent;
    color: #ffffff;
}
.viperjs-input-output .full.button {
    border-radius: 0 0 0.6em 0.6em;
    box-shadow: 0 0 0 2px rgb(47, 49, 41) inset;
    width: 100%;
}
.viperjs-input-output .left.button {
    border-radius: 0 0 0 0.6em;
    box-shadow: 1px 0 0 2px rgb(47, 49, 41) inset;
    width: calc(50% - 3px);
}
.viperjs-input-output .right.button {
    border-radius: 0 0 0.6em 0;
    box-shadow: -1px 0 0 2px rgb(47, 49, 41) inset;
    width: calc(50% - 3px);
}
.viperjs-input-output .or {
    height: 40px;
    position: relative;
    width: 6px;
    display: inline-block;
    vertical-align: top;
}
.viperjs-input-output .or:before {
    content: '';
    display: block;
    height: 28px;
    width: 28px;
    margin-left: -11px;
    margin-top: 6px;
    background: url("/img/blackfelt.png") repeat;
    border-radius: 50%;
}
