.viperjs-input-container, .viperjs-output-tokenized-container, .viperjs-output-parsed-container {
    width: 100%;
    vertical-align:top;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .viperjs-input-container, .viperjs-output-tokenized-container, .viperjs-output-parsed-container {
        width: 33.3%;
        display: inline-block;
        padding: 1em;
    }
}
